<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="name" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%t %X{trace_id:-NO-TRACE}-%X{span_id:-NO-SPAN}] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
